# General libraries
uvicorn==0.32.0
fastapi==0.115.4
gradio==5.21.0
gradio_client==1.7.2

# GenAIs
pydantic==2.10.6
google-genai==1.5.0
mediapy==1.2.2

# Cloud 
google-auth==2.38.0
google-cloud-run==0.10.10
google-cloud-scheduler==2.14.0
google-cloud-storage==2.19.0
