# General libraries
requests==2.32.3
uvicorn==0.34.2
fastapi==0.115.12
gradio==5.29.0
gradio_client==1.10.0

# GenAIs
langchain==0.3.24
# langchain-community==0.3.1
langchain-google-vertexai==2.0.21
langchain-text-splitters==0.3.8
pydantic==2.11.4

# Cloud 
google-cloud-run==0.10.17
google-cloud-storage==3.1.0
google-cloud-scheduler==2.16.1